<%- include('common/header',{page: "home"}) -%>
<div class="container">
    <!--<h1>Welcome to Chore Manager!</h1>
    <p>
        Chore Manager is a user-friendly web platform for efficient family task management. Schedule, delegate, and
        prioritize chores among family members effortlessly. Create profiles for each family member, assign tasks with
        deadlines and priorities, and maintain clarity with intuitive navigation. Streamline household responsibilities
        and foster harmony with Chore Manager.
    </p>-->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <img src="/img/cm-logo.png" alt="Chore Manager Logo" height="100">
            <h1 class="display-4">Efficient Family Task Management</h1>
            <p class="lead">Schedule, delegate, and prioritize chores among family members effortlessly.</p>
            <a href="/chores" class="btn btn-primary btn-lg basic-button">Get Started</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/img/feature1.gif" alt="Feature 1" width="50" class="img-fluid">
                <h2>Easy to Use</h2>
                <p>Create profiles for each family member, assign tasks with deadlines and priorities, and maintain clarity with intuitive navigation.</p>
            </div>
            <div class="col-md-4">
                <img src="/img/feature2.gif" alt="Feature 2" width="50" class="img-fluid">
                <h2>Streamline Household Responsibilities</h2>
                <p>Efficiently manage chores and foster harmony within your family.</p>
            </div>
            <div class="col-md-4">
                <img src="/img/feature3.gif" alt="Feature 3" width="50" class="img-fluid">
                <h2>Stay Organized</h2>
                <p>Keep track of upcoming deadlines, and overall progress.</p>
            </div>
        </div>
    </div>

</div>
<%- include('common/footer') -%>
