<%- include('common/header',{page: "login"}) -%>
<div class="content-container">
    <div class="wrapper">
        <div class="title">
            Login
        </div>
        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger mt-2" role="alert">
                Error: <%= error %>
            </div>
        <% } %>
        <form action="/login" method="POST">
            <div class="field">
                <input type="email" id="email" name="email" required>
                <label>Email Address</label>
            </div>
            <div class="field">
                <input type="password" id="password" name="password"  required>
                <label>Password</label>
            </div>
            <div class="field">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">
                Not a member? <a href="/register">Signup now</a>
            </div>
        </form>
    </div>
</div>
<%- include('common/footer') -%>