<%- include('common/header',{page: "register"}) -%>
<div class="container">
    <div class="title">Registration</div>
    <div class="content">
        <form action="/register" method="POST">
            <% if (typeof error !== 'undefined') { %>
                <div class="alert alert-danger mt-2" role="alert">
                    Error: <%= error %>
                </div>
            <% } %>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Name</span>
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" id="email" name="email" placeholder="Enter your email address" required>
                </div>
                <div class="input-box">
                    <span class="details">Age</span>
                    <input type="number" min="0" id="age" name="age" placeholder="Enter your age" required>
                </div>
                <div class="input-box">
                    <span class="details">Role in Family</span>
                    <input type="text" id="role" name="role" placeholder="Enter your role in the family" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirm your password" required>
                </div>
            </div>
            <div class="create-family">
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="createFamily" name="createFamily" value="true">
                    <label class="form-check-label" for="createFamily">Create Family</label>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
<%- include('common/footer') -%>